{% extends "base.html.twig" %}

{% block title %}api{% endblock %}

{% block body %}
    <h1>API:er</h1>
    <div class="games-nav">
        <div class="api">
            <p>Dagens quote ger dig dagens datum samt det nuvarande klockslaget. Dessutom för du ta del av "dagens quote" som är ett utvalt citat med syfte att vara inspirerande.</p>
            <button><a href="{{ path('api_quote') }}">Dagens quote</a></button>
        </div>
        <div class="api">
            <p>Här finner du det som finns kvar av kortleken, sorterad efter färg och värde.</p>
            <button><a href="{{ path('api_deck') }}">Visa kortleken</a></button>        
        </div>
        <div class="api">
            <p>Här finner du en hel kortlek blandad. </p>
            <button><a href="{{ path('api_shuffle') }}">Blanda kortleken</a></button>
        </div>
       <div class="api">
            <p>Här finner du ditt ur kortleken slumpmässigt dragna kort.</p>
            <button><a href="{{ path('api_draw_get') }}">Dra ett kort</a></button>
        </div>
        <div class="api">
            <p>Här finner du din hand med slumpmässigt dragna kort från kortleken.</p>
            <form method="post" action="{{ path('api_draw_many_post') }}">
                <input type="number" name="num" min="1" max="52" value="1">
                <input type="submit" name="do_it" value="Dra kort">
            </form>
        </div>
        <div class="api">
            <p>Här finner du den nuvarande ställningen den pågående omgången av spelet 21.</p>
            <button><a href="{{ path('api_game') }}">Spelställning</a></button>
        </div>
        <div class="api">
            <p>Här finner du hela bibliotekets utbud av böcker.</p>
            <button><a href="{{ path('api_library_show_all') }}">Alla böcker</a></button>
        </div>
        <div class="api">
            <p>Här kan du välja en bok att titta närmare på.</p>
            <form method="post" action="{{ path('api_book_post') }}"">
                <select class="book_select" name="isbn">
                    {% for book in books %}
                        <option value="{{ book.isbn }}">{{ book.name }}</option>
                    {% endfor %}
                </select><br>
                <input type="submit" name="do_it" value="Titta på bok">
            </form>
        </div>
    </div>
{% endblock %}