{% extends "projbase.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="mini-nav">
        <ul>
            <li><a href="{{ path('economic') }}">Ekonomisk jämställdhet</a></li>
            <li><a href="{{ path('education') }}">Jämställd utbildning</a></li>
            <li><a href="{{ path('homelabor') }}">Fördelning av hemarbete </a></li>
        </ul>
    </div>
    <h1>Mål 5: JÄMSTÄLLDHET</h1>
    <h2>Uppnå jämställdhet och alla kvinnors och flickors egenmakt</h2>
    <p class="author">Skriven 2023-04-05 av Julia Nilsson</p>
    <p>På denna sida presenteras ett av de 17 globala målen, mål nr 5 som handlar om jämställdhet. För mer information om mål 5 gå in på projektets about-sida.<br>
    Ovan hittar du 3 av målets indikatorer, genom att klicka på dessa får du lära dig mer om dess innebörd samt ta del av insamlade mätdata.
    Nedan hittar alla målets olika delmål tillsammans med en kort förklaring av dess innebörd.</p>
    <div class="milestones">
        {% for milestone in milestones %}
            <div class="milestone">
                <h3>{{ milestone.number }} {{ milestone.name }}</h3>
                <p>{{ milestone.description }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}